@charset "ISO-8859-1";

h1{
	color: blue;
}

form{
	width: 250px;
	height: 650px;
}

form label, .submit{
	margin-top: 20px;
}

label{
	font-weight: bold;
}

h2{
	color: blue;
}

errors{
	color: red;
}